body {
  font-family: Verdana, Helvetica, sans-serif;
  text-align:center;
  padding-top:10px;
}

.rinput {
  font-size:13pt;
}

.clearer {
  clear:both;
}

footer {
  margin-left:15%;
  text-align:left;
  font-size: 8pt;
}

h1 {
  margin-bottom:0px;
}

/* tables */
table.tablesorter {
	font-family:arial;
  background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 9pt;
	width: 70%;
	text-align: left;
  margin-left:auto;
  margin-right:auto;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
/*	border: 1px solid #FFF; */
	font-size: 10pt;
	padding: 4px;
}

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
/*	color: #3D3D3D;*/
  color:#000;
	padding: 4px;
	background-color: #FFF;
	vertical-align: center;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}

table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp,
table.tablesorter thead tr .header {
  padding-right:20px;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #8dbdd8;
}

.rname {
  font-weight:bold;
  margin-bottom:1px;
}

/*
#bodyWrapper{
  height:30px;
  overflow:auto;
}

div.scrollWrapper{
  float:left;
  overflow:visible !important;
  overflow:scroll;
  height:10px;
}

table.tableSorter{
  width:450px;
  margin-right:0 !important;
  margin-right:16px;
  border-collapse:separate;
}

table.tableSorter th{
  padding:5px;
  position: relative;
}

table.tableSorter tbody{
  height:10px;
  overflow:auto;
}

table.tableSorter tr{
  height:0px;
}

table.tableSorter td{
}
*/
